/* Home.module.css */
@import './theme.module.css';

.container {
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.main {
  padding: 6rem 0;
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-light);
  background-color: var(--black);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  color: var(--green);
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  color: var(--gray-light);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: var(--gray);
  text-decoration: none;
  border: 1px solid var(--gray-dark);
  border-radius: var(--borderRadius-4xl);
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: var(--boxShadow-terminal);
}

.card:hover,
.card:focus,
.card:active {
  color: var(--green);
  border-color: var(--green);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: var(--green);
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--gray);
}

.logo {
  height: 1em;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-light);
  background-color: var(--gray-dark);
}
