/* theme.module.css */
:export {
  screens-sm: '480px';
  screens-md: '768px';
  screens-lg: '976px';
  screens-xl: '1440px';
  black: #000;
  green: #13ce66;
  gray-dark: #273444;
  gray: #8492a6;
  gray-light: #d3dce6;
  sans: 'Inconsolata', monospace;
  spacing-128: 32rem;
  spacing-144: 36rem;
  borderRadius-4xl: 2rem;
  borderWidth-6: 6px;
  boxShadow-terminal: 0px 0px 0px 4px #13ce66, 0px 0px 0px 6px #000;
}
